<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!--nav bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main') }}">Kickstarter Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{{ url_for('main') }}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{{ url_for('data_pro') }}">Data Processing</a>
        <a class="nav-item nav-link" href="{{ url_for('machine') }}">Machine Learning</a>
        <a class="nav-item nav-link" href="{{ url_for('app_const') }}">App Construction</a>        
        <a class="nav-item nav-link" href="http://kickstarter-env.eba-kcr5xpvr.us-east-2.elasticbeanstalk.com">App</a>
      </div>
    </div>
  </nav>
  <br>
  <img src = "../static/tq0sfld-kickstarter-logo-green.png" alt = "kickstarter logo" class="rounded mx-auto d-block">
  <br>
  <p class="text-center">App Construction</p>
  <p class="text-center">We used flask to create a site to display all our information. Below are all the routes to the html files.
      We used render_template to link everything together
  </p>
  <img src="../static/flask_structure.png" class="rounded mx-auto d-block" alt="original">
  
<br>
<p class="text-center">  Nav bar was added for ease of use for the user.
 </p>
<img src="../static/home_html.png" class="rounded mx-auto d-block" alt="original">
<br>
<p class="text-center">  The below code shows the page that takes the inputs from the user.
 </p>

<img src="../static/app_input.png" class="rounded mx-auto d-block" alt="original">
<br>
<p class="text-center">  Once submit is clicked on the page, then the below code is initiated. It loads both the pickled scaler
    and the model. It then take the inputs from the page and converts them to match what we fed into the model.
    An array is created, then converted into a dataframe. It creates additional columns from the deadline, launch, and creation inputs.

 </p>
<img src="../static/app_code.png" class="rounded mx-auto d-block" alt="original">
<br>
<p class="text-center">  All objects are onehotencoded.
 </p>
<img src="../static/app_onehotencode.png" class="rounded mx-auto d-block" alt="original">
<br>
<p class="text-center">  The dataframes are then all merged, duplicate columns deleted, and the data is fed
    into the saved scaler model. This scaled data is then fed into the saved model.
 </p>
<img src="../static/app_merge.png" class="rounded mx-auto d-block" alt="original">
<br>
<p class="text-center">  If the prediction is successful then it will display that on a new page as green
 </p>
<img src="../static/prediction_suc.png" class="rounded mx-auto d-block" alt="original">
<br>
<p class="text-center">  If the prediction is failed then it will display that on a new page as red
 </p>
<img src="../static/prediction_fail.png" class="rounded mx-auto d-block" alt="original">



<p class="text-center"> </p>
<p class="text-center"> </p>


  
  
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>