<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!--nav bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main') }}">Kickstarter Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{{ url_for('main') }}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{{ url_for('data_pro') }}">Data Processing</a>
        <a class="nav-item nav-link" href="{{ url_for('machine') }}">Machine Learning</a>
        <a class="nav-item nav-link" href="{{ url_for('map_k') }}">Map</a>
        <a class="nav-item nav-link" href="{{ url_for('app_k') }}">App</a>
      </div>
    </div>
  </nav>
  <img src = "../static/tq0sfld-kickstarter-logo-green.png" alt = "kickstarter logo" class="rounded mx-auto d-block">
  
  <p class="text-center">App page</p>
  <h3>Kickstarter Prediction</h3> 
  
  <div> 
    <form action="/result" method="POST"> 
      <label for="age">Goal amount in USD</label> 
      <input type="text" id="goal" name="goal"> 
      <br> 
      <label for="blurb">Blurb word length</label> 
      <input type="text" id="blurb" name="blurb"> 
      <br>
      <label for="launch">Days for launch to deadline</label> 
      <input type="text" id="launch" name="launch"> 
      <br>
      <label for="creation">Days for creation to launch</label> 
      <input type="text" id="creation" name="creation"> 
      <br>
      <label for="category">Category</label> 
      <select id="category" name="category"> 
        <option value="0">Art</option> 
        <option value="1">Comics</option> 
        <option value="2">Crafts</option> 
        <option value="3">Dance</option> 
        <option value="4">Design</option> 
        <option value="5">Fashion</option> 
        <option value="6">Film & video</option> 
        <option value="7">Food</option> 
        <option value="8">Games</option> 
        <option value="9">Journalism</option> 
        <option value="10">Music</option> 
        <option value="11">Photography</option>
        <option value="12">Publishing</option>
        <option value="13">Technology</option>
        <option value="14">Theater</option>
      </select> 
      <br> 
      <label for="Country">Country</label> 
      <select id="Country" name="Country"> 
        <option value="0">Australia</option> 
        <option value="1">Austria</option> 
        <option value="2">Belgium</option> 
        <option value="3">Canada</option> 
        <option value="4">Denmark</option> 
        <option value="5">France</option> 
        <option value="6">Germany</option> 
        <option value="7">Hong Kong</option> 
        <option value="8">Ireland</option> 
        <option value="9">Italy</option> 
        <option value="10">Japan</option> 
        <option value="11">Luxembourg</option> 
        <option value="12">Mexico</option> 
        <option value="13">New Zealand</option> 
        <option value="14">Norway</option> 
        <option value="15">Singapore</option> 
        <option value="16">Spain</option> 
        <option value="17">Sweden</option> 
        <option value="18">Switzerland</option>   
        <option value="19">Netherlands</option> 
        <option value="20">United Kingdom</option> 
        <option value="21">United States</option> 
      </select> 
      <br>
      <label for="launchDay">Launch Day</label> 
      <select id="launchDay" name="launchDay"> 
        <option value="0">Monday</option> 
        <option value="1">Tuesday</option> 
        <option value="2">Wednesday</option> 
        <option value="3">Thursday</option> 
        <option value="4">Friday</option> 
        <option value="5">Saturday</option> 
        <option value="6">Sunday</option>  
      </select> 
      <br> 
      <label for="DeadlineDay">Deadline Day</label> 
      <select id="DeadlineDay" name="DeadlineDay"> 
        <option value="0">Monday</option> 
        <option value="1">Tuesday</option> 
        <option value="2">Wednesday</option> 
        <option value="3">Thursday</option> 
        <option value="4">Friday</option> 
        <option value="5">Saturday</option> 
        <option value="6">Sunday</option>  
      </select> 
      <br> 
      <label for="LaunchMonth">Launch Month</label> 
      <select id="LaunchMonth" name="LaunchMonth"> 
        <option value="0">January</option> 
        <option value="1">February</option> 
        <option value="2">March</option> 
        <option value="3">April</option> 
        <option value="4">May</option> 
        <option value="5">June</option> 
        <option value="6">July</option>  
        <option value="7">August</option> 
        <option value="8">September</option> 
        <option value="9">October</option> 
        <option value="10">November</option> 
        <option value="11">December</option>
      </select> 
      <br> 
      <label for="deadlineMonth">Deadline Month</label> 
      <select id="deadlineMonth" name="deadlineMonth"> 
        <option value="0">January</option> 
        <option value="1">February</option> 
        <option value="2">March</option> 
        <option value="3">April</option> 
        <option value="4">May</option> 
        <option value="5">June</option> 
        <option value="6">July</option>  
        <option value="7">August</option> 
        <option value="8">September</option> 
        <option value="9">October</option> 
        <option value="10">November</option> 
        <option value="11">December</option>
      </select> 
      <br>  
      <label for="launchTime">Launch Time</label> 
      <select id="launchTime" name="deadlineMonth"> 
        <option value="0">12am-2am</option> 
        <option value="1">4am-6am</option> 
        <option value="2">6am-8am</option> 
        <option value="3">8am-10am</option> 
        <option value="4">10am-12pm</option> 
        <option value="5">12pm-2pm</option> 
        <option value="6">2pm-4pm</option>  
        <option value="7">4pm-6pm</option> 
        <option value="8">6pm-8pm</option> 
        <option value="9">8pm-10pm</option> 
        <option value="10">10pm-12am</option> 
      </select> 
      <br> <label for="deadline_time">Deadline Time</label> 
      <select id="deadline_time" name="deadline_time"> 
        <option value="0">12am-2am</option> 
        <option value="1">4am-6am</option> 
        <option value="2">6am-8am</option> 
        <option value="3">8am-10am</option> 
        <option value="4">10am-12pm</option> 
        <option value="5">12pm-2pm</option> 
        <option value="6">2pm-4pm</option>  
        <option value="7">4pm-6pm</option> 
        <option value="8">6pm-8pm</option> 
        <option value="9">8pm-10pm</option> 
        <option value="10">10pm-12am</option> 
      </select> 

      
      <br> 
      <input type="submit" value="Submit"> 
    </form> 
  </div> 
 

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>