<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!--nav bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main') }}">Kickstarter Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{{ url_for('main') }}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{{ url_for('data_pro') }}">Data Processing</a>
        <a class="nav-item nav-link" href="{{ url_for('machine') }}">Machine Learning</a>
        <a class="nav-item nav-link" href="{{ url_for('app_k') }}">App</a>
      </div>
    </div>
  </nav>
  <img src = "../static/tq0sfld-kickstarter-logo-green.png" alt = "kickstarter logo" class="rounded mx-auto d-block">
  
  <p class="text-center">data page</p>

  <p class="text-center">We started with 700 different csv files of webscraped data from the kickstarter
    webpage. These files were combined to create one large csv. This file was stored in AWS and linked
    to a postgres server in PGadmin. We are able to access this large file in the cloud saving local
    data. We initially had 2,359,293 rows and 41 columns. The dataset contains projects added to Kickstarter 
    between 22 April 2009 and 16 September 2020. We dropped columns with small no-null values and irrelevant columns listed below as well
    <br>
    <br>
    converted_pledged_amount - same as usd_pledged
<br>
country - same as country_displayed_name
<br>
creator - irrelevant 
<br>
currency - irrelvant as converted
<br>
currency_symbol - irrelevant
<br>
currency_trailing_code - irrelevant
<br>
currenct_currency - irrelevant as it has converted
<br>
disable_communication - almost all the same
<br>
fx_rate - irrelevant. info in USD_pledged
<br>
is_starrable - irrelevant
<br>
name - irrelevant
<br>
photo - irrelevant
<br>
profile -irrelevant
<br>
slug -same as name. irrelevant 
<br>
source_url- irrelevant
<br>
spotlight - irrelevant as it is only for projects that succeeded. will skew results
<br>
state_changed_at - irrelevant
<br>
static_usd_rate -irrelevant
<br>
urls - irrelevant
<br>
usd_type - irrelevant
<br>
<br>
The next step was to convert the Unix time to standard time. We also converted the blurb into a numerical 
number to see if it is relevant in predicting. We converted the words to a length number. We also replaced
all null values with zero and none depending on the column. We then broke down the converted time and created
columns for the month and dates. We also created two hour time increments for data processing purposes.
We also took out any data whose state was cancelled, suspended, or still live as this would not give
us any insights.
  </p>
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>