<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
  <!--nav bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main') }}">Kickstarter Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('main') }}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{{ url_for('data_pro') }}">Data Processing</a>
        <a class="nav-item nav-link" href="{{ url_for('machine') }}">Machine Learning</a>
        <a class="nav-item nav-link" href="{{ url_for('app_const') }}">App Construction</a>
        <a class="nav-item nav-link" href="http://kickstarter-env.eba-kcr5xpvr.us-east-2.elasticbeanstalk.com">App</a>
      </div>
    </div>
  </nav>
    <br>
      <img src = "../static/tq0sfld-kickstarter-logo-green.png" alt = "kickstarter logo" class="rounded mx-auto d-block">
  <br>

  <h1 style="text-align:center"h1style>Results</h1>

  <p class="text-center">We looked at and analyzed a large amount of Kickstarter data. We then used this 
    data to try and predict the status outcome of future projects using machine learning. Here is what we found:
 <br>
    <br>For our dataset we had more successful campaigns than we had thought. The median and average goals for failed projects were substantially higher.  
successful projects had much higher amounts pledged and more backers.  
  </p>
<br>
  <img src="../static/fail_success.png" class="rounded mx-auto d-block" alt="fail_success">
  <br>
  <p class="text-center">The average campaigns for failed projects were slightly longer, and their blurbs were as well.
    One difference is that the successful ones had longer lengths of creation to launch days.
  </p>
<br>
  <img src="../static/fail_success2.png" class="rounded mx-auto d-block" alt="fail_success2">
  <br>
  <p class="text-center">Below you can see the pledged amount by category & country
  </p>
<br>
  <img src="../static/pledged.png" class="rounded mx-auto d-block" alt="fail_success2">









  


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>